@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-table .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-table td.mat-cell a:hover {
  text-decoration: underline;
}

.mat-table td.mat-cell:first-child,
.mat-table td.mat-footer-cell:first-child,
.mat-table th.mat-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-table td.mat-cell:last-child,
.mat-table td.mat-footer-cell:last-child,
.mat-table th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-table .mat-cell a {
  color: inherit;
  text-decoration: none;
}

.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* BASSCSS Utility Classes */

:root {
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}

/* Margin */

.m0 {
  margin: 0;
}
.mt0 {
  margin-top: 0;
}
.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.mx0 {
  margin-left: 0;
  margin-right: 0;
}
.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m1 {
  margin: var(--space-1);
}
.mt1 {
  margin-top: var(--space-1);
}
.mr1 {
  margin-right: var(--space-1);
}
.mb1 {
  margin-bottom: var(--space-1);
}
.ml1 {
  margin-left: var(--space-1);
}
.mx1 {
  margin-left: var(--space-1);
  margin-right: var(--space-1);
}
.my1 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

.m2 {
  margin: var(--space-2);
}
.mt2 {
  margin-top: var(--space-2);
}
.mr2 {
  margin-right: var(--space-2);
}
.mb2 {
  margin-bottom: var(--space-2);
}
.ml2 {
  margin-left: var(--space-2);
}
.mx2 {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.my2 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.m3 {
  margin: var(--space-3);
}
.mt3 {
  margin-top: var(--space-3);
}
.mr3 {
  margin-right: var(--space-3);
}
.mb3 {
  margin-bottom: var(--space-3);
}
.ml3 {
  margin-left: var(--space-3);
}
.mx3 {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}
.my3 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

.m4 {
  margin: var(--space-4);
}
.mt4 {
  margin-top: var(--space-4);
}
.mr4 {
  margin-right: var(--space-4);
}
.mb4 {
  margin-bottom: var(--space-4);
}
.ml4 {
  margin-left: var(--space-4);
}
.mx4 {
  margin-left: var(--space-4);
  margin-right: var(--space-4);
}
.my4 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

.mxn1 {
  margin-left: -var(--space-1);
  margin-right: -var(--space-1);
}
.mxn2 {
  margin-left: -var(--space-2);
  margin-right: -var(--space-2);
}
.mxn3 {
  margin-left: -var(--space-3);
  margin-right: -var(--space-3);
}
.mxn4 {
  margin-left: -var(--space-4);
  margin-right: -var(--space-4);
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Padding */

.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pr0 {
  padding-right: 0;
}
.pb0 {
  padding-bottom: 0;
}
.pl0 {
  padding-left: 0;
}
.px0 {
  padding-left: 0;
  padding-right: 0;
}
.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p1 {
  padding: var(--space-1);
}
.pt1 {
  padding-top: var(--space-1);
}
.pr1 {
  padding-right: var(--space-1);
}
.pb1 {
  padding-bottom: var(--space-1);
}
.pl1 {
  padding-left: var(--space-1);
}
.py1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}
.px1 {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.p2 {
  padding: var(--space-2);
}
.pt2 {
  padding-top: var(--space-2);
}
.pr2 {
  padding-right: var(--space-2);
}
.pb2 {
  padding-bottom: var(--space-2);
}
.pl2 {
  padding-left: var(--space-2);
}
.py2 {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}
.px2 {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

.p3 {
  padding: var(--space-3);
}
.pt3 {
  padding-top: var(--space-3);
}
.pr3 {
  padding-right: var(--space-3);
}
.pb3 {
  padding-bottom: var(--space-3);
}
.pl3 {
  padding-left: var(--space-3);
}
.py3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}
.px3 {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.p4 {
  padding: var(--space-4);
}
.pt4 {
  padding-top: var(--space-4);
}
.pr4 {
  padding-right: var(--space-4);
}
.pb4 {
  padding-bottom: var(--space-4);
}
.pl4 {
  padding-left: var(--space-4);
}
.py4 {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}
.px4 {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
